<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>facebook_api_key</param-name>
		<param-value>48efdf44cf8597c8bd5445c0bbcb1ce6</param-value>
	</context-param>
	<context-param>
		<param-name>facebook_secret</param-name>
		<param-value>70c267adb7c41b4a27144caa32d07a9f</param-value>
	</context-param>
	<!-- 
	<filter>
		<display-name>FacebookUserFilter</display-name>
		<filter-name>FacebookUserFilter</filter-name>
		<filter-class>org.jfxworks.connect44fx.FacebookUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FacebookUserFilter</filter-name>
		<url-pattern>/*</url-pattern>		
	</filter-mapping>
	
	<servlet>
		<servlet-name>SaveScoreServlet</servlet-name>
		<servlet-class>org.jfxworks.connect44fx.servlet.SaveScoreServlet</servlet-class>		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SaveScoreServlet</servlet-name>
		<url-pattern>/SaveScoreServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoadScoreServlet</servlet-name>
		<servlet-class>org.jfxworks.connect44fx.servlet.LoadScoreServlet</servlet-class>		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoadScoreServlet</servlet-name>
		<url-pattern>/LoadScoreServlet</url-pattern>
	</servlet-mapping>
	-->
</web-app>
